*.*~
*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.hprof
*.iml
*.log
*.pyc
*.sln.docstates
*.suo
*.swo
*.swp
*.user
*.userosscache
*secret.js
.DS_STORE
.DS_Store
.bazelrc.user
.build-analytics
.c9
.cxx/
.devcontainer/*
.externalNativeBuild
.gradle/
.history
.husky/_
.idea
.idea/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.navigation/
.ng-dev.user*
.notes.md
.nvimrc
.settings/
.vimrc
.vs/
.vscode
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
/bazel-out
/dist/
/integration/bazel/bazel-*
/modules/rollup-test/dist/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
baseline.json
bin/
bld/
build/
captures/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
modules/.settings
modules/.vscode
msbuild.err
msbuild.log
msbuild.wrn
node_modules
npm-debug.log
nupkg/
out/
proguard/
project.lock.json
pubspec.lock
tools/gulp-tasks/cldr/cldr-data/
vcs.xml
x64/
x86/
yarn-error.log
