<app-navigation-item routerLink="/" href="/" icon="home">
    Accueil
</app-navigation-item>

<app-navigation-item routerLink="/team" icon="pets">
    Team
</app-navigation-item>

<app-navigation-item routerLink="/shop" icon="shopping_basket">
    Shop
</app-navigation-item>

<div class="spacer"></div>

<app-navigation-item routerLink="/chat" icon="message">
    Chat
</app-navigation-item>

<app-navigation-item routerLink="/account" icon="account_circle">
    User
</app-navigation-item>

<app-navigation-item routerLink="/settings" icon="settings">
    Settings
</app-navigation-item>

<app-connection-status>
</app-connection-status>