<app-title>
  Shop <mat-icon>shop</mat-icon>
</app-title>


<div class="container">
  <app-item [name]="test" [price]="price" [description]="description" [quantity]="quantity" [basePrice]="basePrice">
  </app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
  <app-item></app-item>
</div>