:host{
  display: block;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  color: black;
}

.container{
  padding: 8px;
}

.coinsDiv {
  background-color: whitesmoke;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: right;
}

