<div class="creatures">
    <div class="title">Creatures</div>
    <div class="column list">
        
    </div>
</div>

<div class="column attacks">
    <div class="title">Attacks</div>
    <div class="list">

    </div>
</div>

<div class="column items">
    <div class="title">Items</div>
    <div class="list">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique tellus diam, a lobortis nulla semper id. Donec massa eros, malesuada id imperdiet non, pharetra vel erat. Ut non eros non enim luctus auctor. Nunc sollicitudin ultricies magna vitae condimentum. Cras vel scelerisque sapien, a tincidunt eros. Cras a urna euismod nunc suscipit laoreet. Donec vitae ex risus. Duis scelerisque accumsan rutrum. Suspendisse posuere sapien nulla. In blandit vel elit non pulvinar. Etiam fermentum venenatis tortor in gravida. Maecenas mauris magna, molestie at dignissim quis, dictum ornare magna. Donec gravida hendrerit velit, vel fermentum magna euismod in. Aliquam eget facilisis dolor, eu tempor leo. Integer fringilla, nunc vitae molestie fringilla, nisi elit consectetur nunc, eget pulvinar urna mi vitae ante. Etiam in vehicula tellus, id pellentesque est.

        Mauris ac maximus ex. Quisque quis semper ante, ac condimentum tortor. Nullam a purus elit. Sed varius facilisis lorem, vitae eleifend est. Aenean efficitur egestas leo, id dictum nunc. Mauris id laoreet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        
        Sed id leo vulputate purus gravida aliquet. Sed eget magna id erat mollis dignissim. In eget tempus felis, sed iaculis quam. Donec dapibus tempor diam, in ullamcorper ex sagittis in. Vivamus egestas accumsan risus in fermentum. Curabitur elementum ultrices tortor, vestibulum pulvinar nibh congue sollicitudin. Proin vulputate orci sed urna molestie fermentum. Vestibulum et eros hendrerit, gravida urna eu, bibendum augue.
        
        Etiam gravida diam vitae metus feugiat placerat. Nam posuere tempor nisl et pharetra. Morbi est lacus, faucibus eu euismod lacinia, interdum quis tellus. Suspendisse faucibus justo a dapibus porta. Nullam eu lacus non eros auctor maximus. Duis vulputate et erat sit amet rhoncus. Aenean luctus et ante quis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam elementum sem sed nulla bibendum fermentum. In ullamcorper mollis purus ut sollicitudin. Morbi ac purus nunc. Cras ipsum ipsum, ornare eu pharetra bibendum, dapibus a quam. Aliquam pellentesque nisi sit amet bibendum aliquet. Mauris molestie velit at odio tincidunt, eu convallis lectus porta. Praesent rutrum nec lorem at luctus.
        
        Suspendisse sed vulputate nisi, id malesuada quam. Ut semper tincidunt porttitor. Donec elementum interdum pellentesque. Vestibulum dictum quis nisl vel faucibus. Nam gravida ipsum non tincidunt gravida. Suspendisse porttitor nisl sem, ut blandit quam facilisis sit amet. Pellentesque venenatis gravida dui ac tempus. Nullam magna est, sodales eu ultrices a, egestas eget magna. Nam molestie semper sollicitudin. Vivamus vel quam pellentesque, sollicitudin mi sed, maximus massa. Morbi eget accumsan dui, sit amet lacinia enim.
    </div>
</div>