:host {
    background-color:#111;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 0px 0px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px 4px 0px 4px;
}

.creatures {

}

.attacks {

}

.items {

}

.title {
    font-size: 18pt;
    margin: 12px 4px 8px 4px;
}

.list {
    overflow-y: scroll;
    flex-grow: 1;
}