:host {
  color: black;
  background-color: white;

  padding: 8px;
  margin-bottom: 16px;
  border-radius: 6px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "name quantity price"
    "description description description";
}

:host:hover {
  background-color: whitesmoke;
}

.description { grid-area: description; }

.name { grid-area: name; }

.quantity { grid-area: quantity; }

.price { grid-area: price; }

