.normalButton {
  padding: 15px 65px;
  background: linear-gradient(90deg, #FD3701 0%, #FFCF01 100%);
  border-radius: 30px;
}

.otherButton {
  padding: 15px 65px;
  background: linear-gradient(90deg, #0184FD 0%, #01FFB3 100%);
  border-radius: 30px;
}
