button {
  padding: 15px 65px;
  border-radius: 30px;
}

.orange {
  background: linear-gradient(90deg, #fd3701 0%, #ffcf01 100%);
}

.blue {
  background: linear-gradient(90deg, #0184fd 0%, #01ffb3 100%);
}
