<app-centered>
  <div class="container">
    <div class="left-content">
    </div>

    <form class="right-content" [formGroup]="player" (ngSubmit)="submit()">
      <app-title class="title">Sign in</app-title>

      <input type="text" placeholder="Username" formControlName="pseudo">
      <input type="password" placeholder="Password" formControlName="password">

      <div class="buttons">
        <app-button routerLink="/signup">Sign up</app-button>

        <app-button [isDisabled]="player.invalid">Log in</app-button>
      </div>
    </form>
  </div>
</app-centered>
