<app-centered>
  <div class="container">
    <div class="left-content">
    </div>

    <form class="right-content" [formGroup]="player" (ngSubmit)="submit()">
      <app-title class="title">Sign in</app-title>

      <input type="text" class="userName" placeholder="Username" formControlName="pseudo">
      <input type="password" class="password" placeholder="Password" formControlName="password">

      <button [disabled]="player.invalid">Log in</button>
      <button routerLink="/signup">Sign up</button>
    </form>
  </div>
</app-centered>