<app-navlink routerLink="/" href="/" icon="home">
    Accueil
</app-navlink>

<app-navlink routerLink="/team" icon="pets">
    Team
</app-navlink>

<app-navlink routerLink="/shop" icon="shopping_basket">
    Shop
</app-navlink>

<div class="spacer"></div>

<app-navlink routerLink="/chat" icon="message">
    Chat
</app-navlink>

<app-navlink routerLink="/account" icon="account_circle">
    User
</app-navlink>

<app-navlink routerLink="/settings" icon="settings">
    Settings
</app-navlink>

<app-connection>
</app-connection>