<app-title class="title">Sign in</app-title>
<form [formGroup]="player" (ngSubmit)="submit()">
  <div class="login-form">
    <input type="text" class="userName" placeholder="UserName" formControlName="pseudo" >
    <input type="password" class="password" placeholder="Confirm Password" formControlName="password" >
    <!--<app-button type="text" class="userName" placeholder="User Name" formControlName="pseudo"></app-button>-->

    <!--<app-button
      class="logInButton"
      styles="normalButton"
      text="Log in">
    </app-button>-->
    <button class="logInButton" [disabled]="player.invalid" >Log in</button>
    <button class="signUpButton" routerLink="/signup">Sign up</button>
  </div>
</form>
