<div class="title">
    <div class="font-weight: bold;">
        Chat
    </div>
    <div class="spacer"></div>
    <app-connection></app-connection>
</div>

<div class="messages">
    <li *ngFor="let msg of messages">{{ msg.text }}</li>
</div>

<div class="send-container">
    <div class="send-textbox">
        <input type="text" style="flex-grow: 1;" placeholder="Type a message" [(ngModel)]="newMessage" />
        <mat-icon (click)="sendMessage()">
            send
        </mat-icon>
    </div>
</div>