:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
}

.messages {
    flex-grow: 1;
}

.send-container{
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}